.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: black;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.par {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: white;
  flex: 14;
}

.menu {
  text-decoration: none;
  color: yellow;
  flex: 1;
  padding-right: 20px;
  font-size: 25px;
}
